.navbar-logo-small {
  @media (min-width: $md-breakpoint) {
    display: none;
  }
}

.navbar-logo-medium {
  display: none;

  @media (min-width: $md-breakpoint) {
    display: block;
  }
}


.navbar,
.js-navbar
{
  background-color: $white;

  a
  {
    font-weight: 300;
    color: $black;
    text-decoration: none;
  }

  img
  {
    float: left;
    height: 50px;
    margin: 0 1rem 0 0;
  }

  .site-title,
  nav
  {
    display: block;
    float: left;
  }

  .site-title,
  nav ul li a
  {
    padding: 1rem;
    display: block;
    line-height: 45px;
  }

  nav
  {
    float: right;

    ul
    {
      margin: 0;

      li
      {
        display: inline-block;
        font-weight: 400;

        a
        {
          position: relative;

          &:after
          {
            display: none;
            content: "";
            position: absolute;
            bottom: 30%;
            left: 1rem;
            width: calc(100% - (2rem));
            border-bottom: 4px solid $green;
          }

        }

        &.active a:after,
        &:hover a:after
        {
          display: block;
        }
      }
    }
  }

  @media(max-width: $lg-breakpoint)
  {
    .container
    {
      padding: 0;
    }

    nav
    {
      display: block;
      width: 100%;
      right: -100%;

      ul li
      {
        display: block;

        a
        {
          display: inline;
        }
      }
    }
  }
}

.navbar
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  .js-navbar-toggle
  {
    display: none;
    position: absolute;
    right: 0;
    padding: 28px;
    cursor: pointer;

    svg
    {
      fill: $green-light;

      &:hover
      {
        fill: $green;
      }
    }
  }
}

.js-navbar
{
  display: none;
}

@media(max-width: $lg-breakpoint)
{
  .js-navbar-enabled
  {
    #content,
    #footer
    {
      position: relative;
      left: 0;
    }

    .js-navbar-toggle
    {
      display: block;
    }

    .navbar nav
    {
      display: none;
    }

    .js-overlay
    {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: .1;
      left: 0;
      top: 0;
      cursor: pointer;
    }

    .js-navbar
    {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 200px;
      z-index: 2;
      padding: 0;

      .site-title
      {
        width: 100%;

        span
        {
          display: none;
        }
      }

      .js-navbar-toggle
      {
        display: none;
      }

      nav a:after
      {
        bottom: 20%;
      }
    }

    &.open
    {
      overflow: hidden;
      // move content and navbar left
      #content,
      #footer,
      .navbar
      {
        left: -200px;
      }
      // show mobile navbar
      .js-navbar
      {
        right: 0px;
      }
      // show the content overlay
      .js-overlay
      {
        display: block;
      }
    }
  }
}


.page-index
{
  .navbar,
  .js-navbar
  {
    background-color: transparent;
  }
  &.js-navbar-opaque
  {
    .navbar,
    .js-navbar
    {
      background-color: $white;
    }
  }
}
