.page-committee .masthead .graphics::after {
  background: url("/img/svg/committee-masthead.svg") no-repeat transparent;
  height: 110%;
  width: 100%;
  right: 0;
  top: 0;
  background-position: top 100% left 0;
  background-size: auto 100%;

  @media(min-width: $md-breakpoint)
  {
    height: 220%;
    width: 110%;
    top: -230px;
    right: -8%;
  }

  @media(min-width: $lg-breakpoint)
  {
    height: 260%;
    top: -260px;
  }

  @media(min-width: $xl-breakpoint)
  {
    height: 270%;
    width: 140%;
    right: -40%;
    top: -290px;
  }
}

.coalitions { position: relative; }

#show-committee {
  position: absolute;
  bottom: -23px;
  left: 50%;
  min-width: 15rem;
  transform: translateX(-50%);

  @media (min-width: $sm-breakpoint) {
    min-width: initial;
  }
}

.coalitions-intro {
  .graphic { margin-top: 1rem; }

  .graphic img { border-radius: 5px; }

  @media (min-width: $sm-breakpoint) {
    .graphic { margin-top: 2rem; }
  }

  @media (min-width: $lg-breakpoint) {
    .graphic {
      margin-top: 0;
      padding-right: 5rem;
    }
  }
}

@media (min-width: $sm-breakpoint) and (max-width: $lg-breakpoint) {
  .coalitions-intro .section-container {
    max-width: 450px;
    padding-left: 0;
    padding-right: 0;
  }

  .coalitions-intro .one-half { width: 100%; }

  .coalitions .one-third { width: 50%; }
}

.coalitions {
    // extra padding to accomodate offset button below
  padding-bottom: 0.5rem;
}

.committee {
  // extra padding to accomodate offset button above
  padding-top: 1rem;
  display: none;
}

.show-committee .committee { display: block; }

.join {
  // extra padding to accomodate offset button above
  padding-top: 1rem;
}

.show-committee .join { padding-top: 0; }

@media (max-width: $md-breakpoint - 1) {
  textarea[name="motivation"] { min-height: 11em; }
}