/* Selling points ***********************************************************/

.selling-points h2 {
  padding-top: 2rem;

  @media(min-width: $md-breakpoint) {
    padding-top: 0;
  }

  @media(min-width: $lg-breakpoint) {
    padding-top: 3rem;
  }
}

.selling-point {
  padding-bottom: 3rem;

  &:last-of-type {
    padding-bottom: 0;
  }

  .body-container p { margin-bottom: 0; }

  @media (max-width: $lg-breakpoint - 1) {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: $lg-breakpoint) {
    padding-bottom: 0;
  }
}

@media (min-width: $md-breakpoint) and (max-width: $lg-breakpoint) {

  // columns turn into rows at this size
  .selling-points .row { margin: 0; }

  .selling-point.column {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .selling-point .image-container,
  .selling-point .body-container {
    float: left;
    // image and body container are columns at this size
    padding-left: 1rem;
    padding-right: 1rem;
  }

  // reverse second row column order
  .selling-point:nth-of-type(2) .image-container,
  .selling-point:nth-of-type(2) .body-container {
    float: right;
  }

  .selling-point .image-container {
    position: relative;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 33.333333%;
  }

  .selling-point .body-container {
    width: 66.666667%;
  }

  .selling-point .body-container h2 {
    margin-top: 0;
  }
}

/* Support & partners sections **********************************************/

.support {
  position: relative;
  text-align: center;
  // extra padding applied to accomadate offset button below
  padding-bottom: 0.5rem;
}

/* White triangle decoration */
.bg-white-envelope::before {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 60px solid white;
  font-size: 0;
  line-height: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Offset show/hide button */
#show-partners,
#hide-partners {
  position: absolute;
  width: 19rem;
  left: 50%;
  margin-left: -9.5rem;
}

#show-partners { bottom: -1.5rem; }

#hide-partners { top: -1.5rem; }

.show-partners .partners { display: block; }

.partners {
  display: none;
  position: relative;
  // extra padding applied to accomodate offset button above
  padding-top: 1rem;
  color: #fff;
  background: linear-gradient(175deg, rgba(65,127,95,1) 0%, rgba(8,173,3,1) 35%);

  dt, dd { font-size: 24px; }

  @media (min-width: $lg-breakpoint) {
    dt, dd { font-size: 32px; }
  }

  dt { font-weight: 400; }

  dd {
    margin-left: 0;
    margin-bottom: 1em;
  }

  dd:last-of-type { margin-bottom: 0; }

  @media (min-width: $sm-breakpoint) {
    dt {
      float: left;
      clear: left;
      width: 25%;
      text-align: right;
    }

    dd {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 3rem;
      padding-left: 25%;
    }

    dd:last-of-type { margin-bottom: 0; }
  }
}

/* Apply form ***************************************************************/

.show-partners .apply { padding-top: 0; }

.apply {
  // extra padding applied to section to accomodate offset button above
  padding-top: 1rem;

  .section-heading {
    margin-top: 0;

    @media (min-width: $sm-breakpoint) {
      text-align: center;
    }

    @media (min-width: $lg-breakpoint) {
      font-size: 32px;
    }
  }
}

.error-message {
  display: inline-block;
  color: $red;
  margin-left: 1rem;
}
